@use "bootstrap/scss/bootstrap";
@use '../../node_modules/startbootstrap-grayscale/dist/css/styles.css';

body {
  font-family: sans-serif;
}

#mino-counts {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

#mino-counts img {
  image-rendering: pixelated;
  width: 32px;
  height: 16px;
}

#mino-counts input[type="number"] {
  width: 40px;
}

input[type="number"] {
  width: 50px;
}

#grid {
  margin-top: 20px;
}

h3 {
  margin-bottom: 8px;
}

#result-canvas {
  margin: 2px;
}